* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

figure>img {
    width: 100%;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    display: grid;
    grid-template-columns: auto auto 13% 13% 13% 13% 13%;
    grid-template-areas:
        'hed hed hed hed hed hed hed'
        'nav nav nav nav nav nav nav'
        'asi asi ma ma ma ma ma'
        'asi asi set set set set set'
        'art art art art tab tab tab'
        'foo foo foo foo foo foo foo'
    ;
    grid-gap: 5px;
    margin: 1%;
}


/* HEADER */

header {
    display: flex;
    background-image: url(img/header.jpg);
    background-size: cover;
    grid-area: hed;
    align-items: center;
    font-family: sans-serif;
}

header>h1 {
    color: #ffffff;
    flex: 5;
    font-size: 5.5vw;
}

header>figure {
    flex: 1;
    margin: 2% 1%;
    padding: 1%;
    background-color: rgb(255, 255, 255, 0.6) ;
    border-radius: 50%;
}

/* NAV */
nav {
    grid-area: nav;
    background-color: #000000;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    margin: 1% 2%;
    font-size: 1.2em;
}

nav>ul>li>a {
    color: #ffffff;
}

/* ASIDE */

aside {
    grid-area: asi;
}

/* MAIN */

main {
    grid-area: ma;
}

main>p {
    text-align: justify;
}

section:first-of-type {
    grid-area: set;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% auto;
    grid-gap: 10px;
}

article {
    grid-area: art;
    border: solid 1px #000000;
}

section:last-of-type {
    grid-area: tab;
    border: solid 1px #000000;
}

/* FOOTER */

footer {    
    padding: 6%;
    grid-area: foo;
    background-image: url(img/footer.jpg);
    background-size: cover;
}